# Vamos utilizar o mlflow para ler a nossa model pipeline rf

Neste notebook iremos utilizar a pipeline que registamos no notebook anterior para fazer previsões.

In [1]:
import mlflow
import pandas as pd

In [2]:
from pathlib import Path

uri = "../../mlruns"

Path(uri).mkdir(parents=True, exist_ok=True)

mlflow.set_tracking_uri(uri)

In [3]:
# Fazer load da versão 1 do modelo "logistic_regression" que registamos no notebook anterior
# Têm de mudar a versão de acordo com quantas versões registaram.

model_name = "logistic_reg"
model_version = "3"

model = mlflow.pyfunc.load_model(f"models:/{model_name}/{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: lr_pipeline
  flavor: mlflow.sklearn
  run_id: bbbe9f4680f94c07a090add12f8ff59f

## Vamos utilizar o modelo lido para fazer previsões

In [4]:
data_path = '../../data/diabetes_test.csv'
df = pd.read_csv(data_path)

In [5]:
input_data = df.loc[df.Outcome == 1].sample(10)
input_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,7,152,88,44,0,50.0,0.337,36,1
82,7,100,0,0,0,30.0,0.484,32,1
109,5,166,76,0,0,45.7,0.340,27,1
79,6,124,72,0,0,27.6,0.368,29,1
45,11,135,0,0,0,52.3,0.578,40,1
97,7,195,70,33,145,25.1,0.163,55,1
37,4,115,72,0,0,28.9,0.376,46,1
102,8,196,76,29,280,37.5,0.605,57,1
63,3,158,70,30,328,35.5,0.344,35,1
104,6,115,60,39,0,33.7,0.245,40,1

In [6]:
model.predict(input_data.drop("Outcome", axis=1))

array([1, 1, 1, 0, 1, 1, 0, 1, 1, 0])