# Vamos utilizar o mlflow para ler a nossa model pipeline

Neste notebook iremos utilizar a pipeline que registamos no notebook anterior para fazer previsões.

In [1]:
import mlflow
import pandas as pd
from pathlib import Path

In [2]:
# Use 'localhost' em vez de '0.0.0.0'
uri = "http://localhost:5000"
mlflow.set_tracking_uri(uri)

In [3]:
# Fazer load da versão 1 do modelo "logistic_regression" que registamos no notebook anterior
# Têm de mudar a versão de acordo com quantas versões registaram.

model_name = "Rforest"
model_version = "1"

model = mlflow.pyfunc.load_model(f"models:/{model_name}/{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: rf_pipeline
  flavor: mlflow.sklearn
  run_id: e28cf35124784cf686c2e67f920ecc5a

## Vamos utilizar o modelo lido para fazer previsões

In [4]:
data_path = '../../data/diabetes_test.csv'
df = pd.read_csv(data_path)

In [5]:
input_data = df.loc[df.Outcome == 1].sample(10)
input_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
110,7,187,50,33,392,33.9,0.826,34,1
21,5,162,104,0,0,37.7,0.151,52,1
37,4,115,72,0,0,28.9,0.376,46,1
40,5,136,84,41,88,35.0,0.286,35,1
74,5,109,62,41,129,35.8,0.514,25,1
17,3,163,70,18,105,31.6,0.268,28,1
98,7,129,68,49,125,38.5,0.439,43,1
41,0,138,0,0,0,36.3,0.933,25,1
2,7,106,60,24,0,26.5,0.296,29,1
18,3,107,62,13,48,22.9,0.678,23,1

In [6]:
model.predict(input_data.drop("Outcome", axis=1))

array([1, 1, 1, 0, 0, 1, 1, 1, 0, 0])